.background {
  background-color: #1a1135;
  padding: 50px 0px;
}

.video-area {
  background-image: url(../../assets/images/video-bg.jpg);
  position: relative;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.video-area::before {
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(20, 12, 45, 0.5);
}

.video-content {
  padding: 0px 50px;
  width: 41%;
}

.video-content__flag {
  margin-bottom: 12px;
  letter-spacing: 0.1em;
  display: inline-block;
  color: var(--primaryColor);
  background: linear-gradient(
    90.99deg,
    #fdce39 0.27%,
    #fd8963 30%,
    #ed5174 98.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.video-content__title {
  font-size: 55px;
  color: #fff;
}

.play-video-btn {
  position: absolute;
  right: 25%;
  top: 40%;
}

.play-video-btn .video-btn {
  border: 0;
  z-index: 1;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  color: var(--primaryColor);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-video-btn .video-btn .video-icon {
  position: absolute;
  top: 23%;
  right: -27%;
  width: 100%;
  height: 100%;
}
.play-video-btn .video-btn::after,
.play-video-btn .video-btn::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  animation: ripple 1.6s ease-out infinite;
}

@keyframes ripple {
  0%,
  35% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}


.box-background {
    background-color: rgba(0,0,0,0.3);
    width:100vw;
    height:100vh;
    z-index: 2;
    position: fixed;
    top:0%;
    left:0%;
    right:0;
}

.background .box-content {
    z-index: 3;
    position: fixed;
    top:50%;
    left:50%;
    padding: 30px;
    transform: translate(-50%,-50%);

}



.background .box-content .icon-close {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
    color:#fff;
}
.background .box-content .icon-close:hover {
    color: var(--primaryColor);
}


@media screen and (max-width:900px) {

    .video-content__title {
        font-size: 36px;
    }

    .background .box-content {
        width: 90%;
    }

    .play-video-btn {
        right: 12%;
    }
    .background .box-content iframe {
        width: 329px;
     
     }

     .background .box-content .icon-close {
        right: 33%;
        top: 3px;
     }
 }