<div class="header">
    <a href="/">
        <img src="../../assets/images/logo.png" alt="">
    </a>
    <nav class="navigation">
        <ul class="navigation-list">
            <li class="navigation__item"><a href="">Home</a></li>
            <li class="navigation__item"><a href="">About Us</a></li>
            <li class="navigation__item"><a href="">Project</a></li>
            <li class="navigation__item"><a href="">Blog</a></li>
            <li class="navigation__item"><a href="">Contact Us</a></li>
        </ul>
        <div class="navigation-option">
            <button class="navigation__button">Login</button>
        </div>
    </nav>
</div>
