<div class="about-me">
    <img src="../../assets/images/anh-ok.JPG" alt="" class="about-me__image">
    <div class="about-me__content">
        <span class="content-flag">About Me</span>
        <h3 class="content-title">Mình là Duyệt. Mình có đam mê và khát khao chinh phục những kiến thức thú vị của nghành IT</h3>
        <p class="content-description">Đây là nơi mình chia sẻ những trải nghiệm trên con đường mà mình đang đi. Có những niềm vui và cũng có những nỗi buồn. Có những thử thách và cũng có những quả ngọt. Mình học được, trải nghiệm được rất nhiều điều. Mình hi vọng thông qua trang blog này các bạn đọc có thể hiểu hơn về mình. Những cái mình đã và đang làm. Để chúng ta cùng nhau xây dựng một tương lai tốt đẹp hơn.  </p>
        <div class="social"></div>
    </div>
</div>
