<div class="article">
    <section class="section-title">
        <span class="title">ARTICLES</span>
        <h2 >Updated News & Articles</h2>
    </section>
    <section class="section-list">
        <div class="section-list__item">
            <a href="" routerLink="/blog-detail" >
                <img src="../../assets/images/blog-1.gif" alt="">
            </a>
            <div class="blog-content">
                <span>27TH MAR, 2021</span>
                <h3>
                    <a href="" class="blog-content__link"> Next Earth’s Agenda and Other Updates In A Whole </a>
                </h3>
                <a href="" class="block-content__readmore">READ MORE</a>
            </div>
        </div>
        <div class="section-list__item">
            <a href="" routerLink="/blog-detail" >
                <img src="../../assets/images/blog-2.jpg" alt="">
            </a>
            <div class="blog-content">
                <span>27TH MAR, 2021</span>
                <h3>
                    <a href="" class="blog-content__link"> Next Earth’s Agenda and Other Updates In A Whole </a>
                </h3>
                <a href="" class="block-content__readmore">READ MORE</a>
            </div>
        </div>
        <div class="section-list__item">
            <a href="" routerLink="/blog-detail" >
                <img src="../../assets/images/blog-3.jpg" alt="">
            </a>
            <div class="blog-content">
                <span>27TH MAR, 2021</span>
                <h3>
                    <a href="" class="blog-content__link"> Next Earth’s Agenda and Other Updates In A Whole </a>
                </h3>
                <a href="" class="block-content__readmore">READ MORE</a>
            </div>
        </div>
    </section>
</div>
