<div class="banner">
    <div class="banner-content">
        <span class="content__flag">The best place to describe my experiences making Metaverse!</span>
        <h1  class="content__title">Metaverse is a virtual reality world. You can extract with other people, see virtual locations, play games, and a lot more.</h1>
        <p  class="content__description">The Metaverse Is The Next Generation Of The Internet. As One Of Its Earliest Explorers, You Will Help Fuel Its Expansion And Share In The Benefits Of This Growth.</p>
    <button class="content__button-buy">
        GO TO MY BLOG
    </button>
    </div>
    <div class="banner-image">
        <img src="../../assets/images/banner-img-5.png" alt="banner-image">
    </div>
    <div class="banner-gif">
        <img src="../../assets/images/earth.gif" alt="">
    </div>
    <img src="../../assets/images/banner-shape-11.png" alt=""  class="banner-shape shape-1">
    <img src="../../assets/images/banner-shape-12.png" alt=""  class="banner-shape shape-2">
</div>
